# Python
server/venv/
server/__pycache__/
server/*.pyc
server/kokoro-v0_19.onnx
server/voices.bin
server/test.wav
server/.env

# Node
renderer/node_modules/
renderer/dist/

# Flutter build
client/build/
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies

# macOS
.DS_Store

# Logs
*.log